<!DOCTYPE html>
<html data-ng-app="avaApp">
  <head>
    <meta charset="utf-8">
    <script src='//maps.googleapis.com/maps/api/js'></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.6/angular-sanitize.js"></script>

    <script type="text/javascript" src="/bower_components/ng-maps/dist/ng-maps.js"></script>

    <script type="text/javascript" src="/public/scripts/microphone-0.7.0/microphone.min.js"></script>
    <script type="text/javascript" src="/public/scripts/app.js"></script>


    <script type="text/javascript" src="/public/scripts/controllers/userController.js"></script>
    <script type="text/javascript" src="/public/scripts/controllers/witController.js"></script>
    <script type="text/javascript" src="/public/scripts/controllers/buttonController.js"></script>
    <script type="text/javascript" src="/public/scripts/controllers/weatherController.js"></script>
    <script type="text/javascript" src="/public/scripts/controllers/directionsController.js"></script>
    <script type="text/javascript" src="/public/scripts/controllers/placesController.js"></script>

    <script type="text/javascript" src="/public/scripts/services/userService.js"></script>
    <script type="text/javascript" src="/public/scripts/services/witService.js"></script>
    <script type="text/javascript" src="/public/scripts/services/weatherService.js"></script>
    <script type="text/javascript" src="/public/scripts/services/placesService.js"></script>
    <script type="text/javascript" src="/public/scripts/services/directionsService.js"></script>


    <script type="text/javascript" src="/public/scripts/router.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel='stylesheet' href='/public/scripts/microphone-0.7.0/microphone.min.css' />
    <link rel='stylesheet' href='/public/styles/index.css' />
    <link rel='stylesheet' href='/public/styles/buttons.css' />


    <title>ava</title>
  </head>
  <body>

      <div class="" data-ui-view="navbar"></div>

      <div data-ui-view="content"></div>

      <div data-ui-view="button"></div>

      <div class="col-sm-8 col-sm-offset-2">
        <div ui-view="result"></div>
      </div>




  </body>
</html>
