<!DOCTYPE html>
<html data-ng-app="avaApp">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.js"></script>

    <script type="text/javascript" src="/public/scripts/app.js"></script>
    <script type="text/javascript" src="/public/scripts/controllers/signUpController.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

    <title>ava</title>
  </head>
  <body>
    <nav>
      <a href="/login">
        <button type="button" name="button">login</button>
      </a>
      <a href="/signup">
        <button type="button" name="button">signup</button>
      </a>
    </nav>

    <div class="container">

      <p>
        hello world
      </p>
      <div data-ui-view="content"></div>

    </div>


  </body>
</html>
