

<button type="button" name="button" ng-click="Button.changeStateToPlaces()">Places-Italian Food</button>


<button type="button" name="button" ng-click="Button.directions()">Berkeley to San Francisco</button>


<button type="button" name="button" ng-click="Button.changeStateToWeather()">Weather Berkeley</button>

<button type="button" name="button" ng-click="Button.testing()">Testing</button>


<div class="col-xs-8 col-xs-offset-2">
<map ng-transclude class="google-map"
  center='Button.map.center'
  zoom='Button.map.zoom'>
  <polylines coords="Button.polylines.coords" options="Button.polylines.options"></polylines>
</map>


<ul class="list-group">
  <li class="list-group-item">{{Button.directionsInfo.text}}</br>It is {{Button.directionsInfo.distance}} and will take about {{Button.directionsInfo.duration}}</li>
</ul>

<ul class="list-group">
  <div class="" ng-repeat="step in Button.directionsInfo.steps">
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-8">
          <p ng-bind-html="step.text"></p>
        </div>
        <div class="col-xs-4">
          Distance: {{step.distance}}
          Estimated time: {{step.duration}}
        </div>
      </div>
    </li>
  </div>
</ul>
</div>
