

<button type="button" name="button" ng-click="Button.places()">Places-Italian Food</button>


<button type="button" name="button" ng-click="Button.directions()">Berkeley to San Francisco</button>


<button type="button" name="button" ng-click="Button.changeStateToWeather()">Weather Berkeley</button>



<div class="col-md-6 col-md-offset-3">


    <map ng-transclude class="google-map"
    center='Button.map.center'
    zoom='Button.map.zoom'>
    <polylines coords="Button.polylines.coords" options="Button.polylines.options"></polylines>
    <!-- <marker position="Button.marker.position" decimals="Button.marker.decimals" options="Button.marker.options"></marker>
    <div class="" ng-repeat="marker in Button.markers">
      <marker position="marker.position" decimals="marker.decimals" options="marker.options" events="marker.events"></marker>
    </div> -->
    </map>

  <ul class="list-group">
    <li class="list-group-item">{{Button.directionsInfo.text}}</br>It is {{Button.directionsInfo.distance}} and will take about {{Button.directionsInfo.duration}}</li>
  </ul>

  <ul class="list-group">
    <div class="" ng-repeat="step in Button.directionsInfo.steps">
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-8">
            <p ng-bind-html="step.text"></p>
          </div>
          <div class="col-xs-4">
            Distance: {{step.distance}}
            Estimated time: {{step.duration}}
          </div>
        </div>
      </li>
    </div>
  </ul>


  <ul class="list-group">
    <div class="" ng-repeat="place in Button.placesInfo.array">
      <a target="_blank" ng-href="{{place.link}}">
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-8">
              <span>
                {{place.name}}
              </span><br>
              <span>
                {{place.address}}
              </span><br>
              <span>
                <div class="" ng-if="place.open">
                  Currently Open
                </div>
                <div class="" ng-if="!place.open">
                  Currently Closed
                </div>
              </span>
            </div>
            <div class="col-xs-4">
              <span ng-if="place.rating">
                Rating | {{place.rating}}
              </span><br>
              <span ng-if="place.price">
                Price | {{ "$".repeat(place.price) }}
              </span>
            </div>
          </div>
        </li>
      </a>
    </div>
  </ul>


</div>








<div class="" ng-show={{Button.test}}>
  <div class="col-sm-6 col-sm-offset-3">
    <ul class="list-group">
      <a target="_blank" ng-href="{{Button.test.current.link}}"><li class="list-group-item"><div class="row">
        <img src="{{Button.test.current.image}}" class="img-responsive col-xs-2" alt="" />
        {{Button.test.current.text}}</div></li></a>
      </ul>

      <ul class="list-group">
        <div class="" ng-repeat="item in Button.test.forecast.array">
          <a target="_blank" ng-href="{{Button.test.current.link}}"><li class="list-group-item"><div class="row">
            <img src="{{item.image}}" class="img-responsive col-xs-2" alt="" />
            {{item.title}} | {{item.text}}</div></li></a>
          </div>
        </ul>
      </div>
</div>
