<map ng-transclude class="google-map"
center='Directions.map.center'
zoom='Directions.map.zoom'>
<polylines coords="Directions.polyLines.coords" options="Directions.polyLines.options"></polylines>
</map>


<ul class="list-group">
  <li class="list-group-item">{{Directions.result.text}}</br>It is {{Directions.result.distance}} and will take about {{Directions.result.duration}}</li>
</ul>

<ul class="list-group">
  <div class="" ng-repeat="step in Directions.result.steps">
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-8">
          <p ng-bind-html="step.text"></p>
        </div>
        <div class="col-xs-4">
          Distance: {{step.distance}}
          Estimated time: {{step.duration}}
        </div>
      </div>
    </li>
  </div>
</ul>
