<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand" ng-if="userCtrl.currentUser !== null">
        Hello, {{userCtrl.currentUser.firstName}}.
      </div>
      <div class="navbar-brand" ng-if="userCtrl.currentUser === null">
        Say hello to Ava.
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="nav navbar-nav navbar-right">
        <div class="" ng-if="userCtrl.currentUser === null">
          <form class="navbar-form" ng-submit="userCtrl.logIn()">
            <div class="form-group">
              <input type="text" ng-model="userCtrl.user.username" placeholder="Email" class="form-control">
              <input type="password" ng-model="userCtrl.user.password" placeholder="Password" class="form-control">
            </div>
            <input type="submit" name="name" value="Log In" class="btn btn-default">
            <a href="/signup" class="btn btn-default">Sign Up</a>
          </form>
        </div>
        <div class="" ng-if="userCtrl.currentUser !== null">
          <li>
            <a href="/logout" ng-click="userCtrl.logOut()" class="btn btn-default">Log Out</a>
          </li>
        </div>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
