<div class="col-sm-6 col-sm-offset-3">
  <ul class="list-group">
    <a target="_blank" ng-href="{{Weather.info.current.link}}"><li class="list-group-item"><div class="row">
      <img src="{{Weather.info.current.image}}" class="img-responsive col-xs-2" alt="" />
      {{Weather.info.current.text}}</div></li></a>
  </ul>

  <ul class="list-group">
    <div class="" ng-repeat="item in Weather.info.forecast.array">
      <a target="_blank" ng-href="{{Weather.info.current.link}}"><li class="list-group-item"><div class="row">
        <img src="{{item.image}}" class="img-responsive col-xs-2" alt="" />
        {{item.title}} | {{item.text}}</div></li></a>
    </div>
  </ul>
</div>
